body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la fuente que desees */
}

#fade-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('fondo.jpg') center center/cover no-repeat;
    background-color: #00001a;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    display: block;
    margin: 20px 0;
    border: none;
    background: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

#text-box, #video-box {
    background: url('cuadro.jpg') center center/cover no-repeat;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

#text-box {
    display: none;
}

#video-box {
    display: none;
}

.fade-up {
    animation: fadeUp 0.5s ease-in-out forwards;
}

@keyframes fadeUp {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}
